{% extends "base.html" %}

{% block start %}


<body>
  <ul>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/other/">Other</a></li>
    <li><a href="/about/">About</a></li>
  </ul>
    <h1>Use of html page</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum placeat, debitis quas perferendis, fugiat dolores eaque, nisi provident dignissimos et ducimus quidem! Eos tempora repudiandae laudantium neque quae repellat ducimus! Dolorem quisquam quod officiis, saepe provident sit minus, ipsa explicabo nostrum modi aut minima veritatis? Aperiam numquam eligendi quod et.</p>

    <h2>Import data to direct views</h2>

    <!-- {{peoples}} -->

    <table class="container">
        <tr>
          <th>S. No</th>
          <th>Name</th>
          <th>Age</th>
          <th>Vote status</th>
        </tr>

        {% for people in peoples %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
          <td>
            {% if people.age >= 18 %}
            👍 (yes you can vote)
            {%else%}
            👎 (no you cannot vote)
            {% endif %}
          </td>
        </tr>
        {% endfor %}
    </table>

    <p>
      {{text}}
      <!-- {{text|truncatechars:600}}                                   truncatechars is use for fixing the charecters     -->
    </p>

    <!-- <script>
        alert("welcome to home page");
        
    </script> -->
</body>

{% endblock %} 
