{% extends "base.html" %}

{% block start %}

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact/">contact</a></li>
        <li><a href="/about/">About</a></li>
    </ul>
    
    <h1>Other Django tags</h1>

    <h2>
        {% if "cucumber" in vegetables %}
            Yes Cucumber is Available
        {% elif "Tomato" in vegetables %}
            Yes Tomato is Available
        {% else %}
            Not Available
        {% endif %}
    </h2>
</body>



{% endblock %}
